<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.UWP" version="__VERSION_STRING__" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.UWP.ARM" version="__VERSION_STRING__" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.UWP.x64" version="__VERSION_STRING__" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.UWP.x86" version="__VERSION_STRING__" targetFramework="native" />
</packages>
