<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.UWP" version="0.1.0-preview-20190731.18" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.UWP.ARM.Debug" version="0.1.0-preview-20190731.18" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.UWP.ARM.Release" version="0.1.0-preview-20190731.18" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.UWP.x64.Debug" version="0.1.0-preview-20190731.18" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.UWP.x64.Release" version="0.1.0-preview-20190731.18" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.UWP.x86.Debug" version="0.1.0-preview-20190731.18" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.UWP.x86.Release" version="0.1.0-preview-20190731.18" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.WinRT.ARM.Debug" version="0.1.0-preview-20190731.18" targetFramework="uap10.0" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.WinRT.ARM.Release" version="0.1.0-preview-20190731.18" targetFramework="uap10.0" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.WinRT.x64.Debug" version="0.1.0-preview-20190731.18" targetFramework="uap10.0" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.WinRT.x64.Release" version="0.1.0-preview-20190731.18" targetFramework="uap10.0" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.WinRT.x86.Debug" version="0.1.0-preview-20190731.18" targetFramework="uap10.0" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.WinRT.x86.Release" version="0.1.0-preview-20190731.18" targetFramework="uap10.0" />
</packages>