
# Build artifacts
bin
build
obj

# Visual Studio + Code
.vs
.vscode
*.user
*.suo

# UWP packages
/examples/TestAppUwp/AppPackages

# Nuget C++ packages
/packages

# Unity artifacts
/libs/Microsoft.MixedReality.WebRTC.Unity/Assets/Plugins
/libs/Microsoft.MixedReality.WebRTC.Unity/Builds
/libs/Microsoft.MixedReality.WebRTC.Unity/Library
/libs/Microsoft.MixedReality.WebRTC.Unity/Temp
/libs/Microsoft.MixedReality.WebRTC.Unity/Logs
/libs/Microsoft.MixedReality.WebRTC.Unity/*.csproj
/libs/Microsoft.MixedReality.WebRTC.Unity/*.sln

# Certificates
*.pfx
*.pfx.meta

# MRTK (for samples)
/libs/Microsoft.MixedReality.WebRTC.Unity/Assets/MixedRealityToolkit*
/libs/Microsoft.MixedReality.WebRTC.Unity/Assets/TextMesh Pro*
