[submodule "external/depot_tools"]
	path = external/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "external/winrtc"]
	path = external/winrtc
	url = https://github.com/microsoft/winrtc.git
