
# Build artifacts
/bin
/build
/obj
/tools/build/userdef.py
# TODO - Fix location with directory.build
examples/*/bin
tests/Microsoft.MixedReality.WebRTC.Tests/bin
tests/Microsoft.MixedReality.WebRTC.Tests/build
tests/Microsoft.MixedReality.WebRTC.Tests/obj
examples/TestNetCoreConsole/bin
docs/template/mr-webrtc/styles/branches.gen.js

# Visual Studio + Code
.vs
.vscode
*.user
*.suo
launchSettings.json

# Python
*.pyc

# UWP packages
/examples/TestAppUwp/AppPackages

# Nuget packages and artifacts
/packages
project.json
project.lock.json

# Unity package binaries
libs/unity/**/*.dll
libs/unity/**/*.pdb
libs/unity/**/*.aar

# Legacy Unity library location
libs/Microsoft.MixedReality.WebRTC.Unity

# Certificates
*.pfx
*.pfx.meta

# DocFX limitation/bug
xdoc
xdoc.meta

# For testing, NUnit needs the native DLL to be avaiable in the same directory as
# the tested assembly for DllImport. There is probably a more elegant way but...
/tests/Microsoft.MixedReality.WebRTC.Tests/Microsoft.MixedReality.WebRTC.Native.dll
/tests/Microsoft.MixedReality.WebRTC.Tests/Microsoft.MixedReality.WebRTC.Native.pdb

# Profiling data
*.etl

# CMake
CMakefiles/

# Android Studio
.idea/

# MacOS
.DS_Store

# libwebrtc intermediate build files
tools/build/libwebrtc/.checkout.sh
tools/build/libwebrtc/.config.sh
tools/build/libwebrtc/.build.sh
tools/build/libwebrtc/.libwebrtc.cmake

# Android intermediate build files
tools/build/android/**/*.iml
tools/build/android/.gradle
tools/build/android/local.properties
tools/build/android/**/build
tools/build/android/captures
tools/build/android/**/.externalNativeBuild
tools/build/android/mrwebrtc.gradle
