
# Build artifacts
/bin
/build
/obj
/tools/build/userdef.py
# TODO - Fix location with directory.build
examples/*/bin
tests/Microsoft.MixedReality.WebRTC.Tests/bin
tests/Microsoft.MixedReality.WebRTC.Tests/build
tests/Microsoft.MixedReality.WebRTC.Tests/obj

# Visual Studio + Code
.vs
.vscode
*.user
*.suo
launchSettings.json

# UWP packages
/examples/TestAppUwp/AppPackages

# Nuget packages and artifacts
/packages
project.json
project.lock.json

# Unity artifacts
/libs/Microsoft.MixedReality.WebRTC.Unity/Assets/Plugins
/libs/Microsoft.MixedReality.WebRTC.Unity/build
/libs/Microsoft.MixedReality.WebRTC.Unity/Builds
/libs/Microsoft.MixedReality.WebRTC.Unity/Library
/libs/Microsoft.MixedReality.WebRTC.Unity/Temp
/libs/Microsoft.MixedReality.WebRTC.Unity/Logs
/libs/Microsoft.MixedReality.WebRTC.Unity/obj
/libs/Microsoft.MixedReality.WebRTC.Unity/*.csproj
/libs/Microsoft.MixedReality.WebRTC.Unity/*.sln

# Unity third-party dependencies
/libs/Microsoft.MixedReality.WebRTC.Unity/Assets/MixedRealityToolkit*
/libs/Microsoft.MixedReality.WebRTC.Unity/Assets/TextMesh Pro*

# Certificates
*.pfx
*.pfx.meta

# DocFX limitation/bug
xdoc
xdoc.meta

# For testing, NUnit needs the native DLL to be avaiable in the same directory as
# the tested assembly for DllImport. There is probably a more elegant way but...
/tests/Microsoft.MixedReality.WebRTC.Tests/Microsoft.MixedReality.WebRTC.Native.dll
/tests/Microsoft.MixedReality.WebRTC.Tests/Microsoft.MixedReality.WebRTC.Native.pdb

# Profiling data
*.etl
