<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.Desktop.x64.Debug" version="0.2.1-preview-20190917.1" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.Desktop.x64.Release" version="0.2.1-preview-20190917.1" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.Desktop.x86.Debug" version="0.2.1-preview-20190917.1" targetFramework="native" />
  <package id="Microsoft.MixedReality.WebRTC.Native.Core.Desktop.x86.Release" version="0.2.1-preview-20190917.1" targetFramework="native" />
</packages>